.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  max-height: 190px;
}

.prof__avatar-container {
  position: relative;
  margin-right: 20px;
}

.prof__avatar-container:hover .prof__avatar-btn {
  visibility: visible;
}

.prof__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: none;
  border-radius: 8px;
  opacity: 30%;
  background-color: #212121;
  /* visibility: hidden; */
}

.prof__btn-container {
}

.prof__avatar-btn-pen {
}

.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
  margin: 0;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  max-width: 420px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  max-width: 420px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background-color: transparent;
  color: #212121;
  opacity: 70%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  padding: 0;
  width: 108px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.profile__edit-btn:hover {
  cursor: url(../images/pointer.png), auto;
  opacity: 1;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  text-wrap: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background-color: #212121;
  color: #fcf5e5;
  padding: 18px 32px 18px 24px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.profile__add-btn:hover {
  cursor: url(../images/pointer.png), auto;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding: 20px 0 20px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    /* min-width: 288px; */
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .prof__avatar-btn-pen:after {
    content: "";
  }

  .profile__avatar {
    margin-right: 0;
  }

  .profile__edit-btn {
    margin: auto;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
